/* 首页初始化 */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.all {
    display: flex;
}

.top {
    display: flex;
    width: 100%;
    background-color: #D22E2E;
    align-items: center;
    justify-content: space-between;
}

.signIn {
    background-color: #D22E2E;
    padding-right: 6px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 148px;
    height: 34px;
    background-color: #D22E2E;
}


/* 显示内容 */

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}